<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech With Tobi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to my site, here you can press all the buttons with links to all the pages</h1>
    </header>
    <div class="container">
        <iframe id="qr_encoder" class="box" src="{{ url_for('qr_encoder') }}"></iframe>
        <iframe id="youtube_downloader" class="box" src="{{ url_for('youtube_downloader') }}"></iframe>
    </div>
    </body>
</html>
